@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "text";
    src: url(Fonte/SecularOne-Regular.ttf);
}

/*  RESPONSIVIDADE  */
main{font-size: 15px}
header{font-size: 25px;}

@media (max-width: 800px) {
    main{font-size: calc(12px);}
    header{font-size: calc(20px);}
}
/*  FIM RESPONSIVIDADE  */

:root{
    --color1: rgb(1, 40, 64);
    --color2: rgb(2, 72, 115);
    --color3: rgb(10, 106, 166);
    --color4: rgb(27, 145, 191);
    --color5: rgba(121, 220, 242);
    --max_width: 800px;
    --min_width: 250px;
    --font_padrao:  Arial, Verdana, Helvetica, sans-serif;
    --font_nav: "Roboto", sans-serif;
    --font_text: "text", cursive;
}

body{
    background-image: url(Imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--font_padrao);
    padding: 0;
    margin: 0;
}

div{
    margin: auto;
    padding: 10px 10px 10px 10px;
    max-width: var(--max_width);
    min-width: var(--min_width);
    width: auto;
}

main{
    background-color: rgba(255, 255, 255, 0.95);
    margin: auto;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    box-shadow: 5px 5px 30px black;
    margin-top: 10px;
}

h1{
    font-size: 1.2em;
}

header{
    background-color: rgba(255, 255, 255, 0.95);
    margin: auto;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    box-shadow: 5px 5px 30px black;
}

nav{
    text-align: center;
}

nav>a{
    box-sizing: content-box;
    margin-left: 40px;
    font-family:var(--font_nav);
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.Quemsou{
    display: grid;
    grid-template-columns: 45% auto;
    gap: 10px;
    text-align: justify;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.Quemsou>aside>img{
    width: 250px;
    height: calc(1.3*width);
    opacity: 1;
    margin: auto;
    margin-left: 50px;
}

.Conhecimento{
    display: grid;
    grid-template-columns: 40% auto;
    gap: 10px;
    text-align: justify;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.Conhecimento>aside>img{
    width: 250px;
    height: calc(1.23*width);
    margin: auto;
    margin-left: 50px;
}

.Projetos{
    display: inline-block;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.Projetos>picture>img{
    width: 200px;
    height: 200px;
}

.Projetos>picture>img:hover{
    width: 250px;
    height: 250px;
}

footer{
    background-color: var(--color4);
    margin: 0 10px 10px 10px;
    text-align: right;
}

footer>a{
    margin-left: 10px;
    padding: 2px 0 2px 0;
    color: black;
    text-decoration: none;
}

footer>p{
    padding: 0 2px 2px 0;
    color: black;
    margin: 0;
}

.whatsapp{
    display: inline-block;
    margin-left: 10px;
    padding: 2px 2px 0 0;
}